.logement-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
  margin: auto;
}

/* gallery*/
.gallery {
  position: relative;
  margin-top: 100px;
  height: 500px;
  border-radius: 25px;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* flèches */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  background: none;
  border: none;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  padding: 0 15px;

}

.arrow.left {
  left: 0;
  font-size: 200px;
  outline: none;
}

.arrow.right {
  right: 0;
  font-size: 200px;
  outline: none;
}

/* compteur */
.counter {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

/*en-tête */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  max-width: 70%;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  color: #ff6060;
}

.location {
  margin: 6px 0 20px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag {
  background: #ff6060;
  color: #fff;
  padding: 3px 22px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
}

/* note + utilisateur */
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.host {
  display: flex;
  align-items: center;
  gap: 12px;
}

.host-name {
  font-weight: 500;
  color: #ff6060;
  max-width: 90px;
  text-align: right;
  font-size: 22px;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 25px;
}

.rating {
  margin-top: -20px;
  display: flex;
  gap: 15px;
}

.rating .star {
  font-size: 25px;
  color: #e3e3e3;
}

.rating .star.filled {
  color: #ff6060;
}

/* dropdowns*/
.dropdowns .dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} 

.dropdowns .dropdown-text {
  min-height: 150px;
  height: 100%;
  box-sizing: border-box;
} 

.dropdowns {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.dropdown-item {
  flex: 1;

}

.dropdown-text ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


/* responsive */
@media (max-width: 768px) {
  .left {
    max-width: 100%;
  }

  .right {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .host-name {
    text-align: left;
  }

  .rating {
    margin-left: auto;
  }
}