.dropdown {
    margin-top: 30px;
}

.dropdown-item {
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
}

.titre {
    font-weight: bold;
}

.dropdown-text {
    background: #f7f7f7;
    padding: 15px;
}

.dropdown-text p {
    color: #000;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropdown-header svg {
    font-size: 40px;
}