

.header-img {
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
}

.propos {
    max-width: 1000px;
    margin: 40px auto;
    margin-top: 50px;
    padding: 0 20px;
}

.propos-banner {
    width: 100%;
    height: 250px;
    border-radius: 25px;
    object-fit: cover;
}

.depliant {
    margin-top: 30px;
}

.depliant-item {
    border-radius: 5px;
    margin-bottom: 30px;
    overflow: hidden;
}

.depliant-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.titre {
    font-weight: bold;
}
.depliant-text {
    background: #f7f7f7;
    padding: 15px;
}

.depliant-text p {
    color: #000;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}