.home {
  padding: 20px;
  width: 80%;
  margin: auto;
}

.card-container {
  margin: 60px 0;
  padding: 75px;
  background: #f6f6f6;
  border-radius: 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}


.location-card {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.location-card:hover {
  transform: scale(1.03);
}


.location-card::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, transparent 60%);
  border-radius: inherit;
  z-index: 0;
}


.location-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1.2rem;
  font-weight: 500;


  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  z-index: 1;
}