.erreurPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 106px;
    gap: 20px;
}

.h1 {
    color: #ff6060;
    font-size: 288px;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #ff6060;
    font-size: 32px;
    margin-top: 50px;
}

.homeBack {
    color: #000;
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .erreurPage {
        padding-top: 80px;
        gap: 18px;
    }

    .h1 {
        font-size: 180px;
    }

    p {
        font-size: 24px;
        margin-top: 40px;
        padding: 0 40px;
    }

    .homeBack {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 80px;
    }
} 

@media screen and (max-width: 768px) {
    .h1 {
        font-size: 96px;
    }

    p {
        font-size: 18px;
        margin-top: 30px;
        padding: 0 20px;
    }

.homeBack {
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 16px;
    }

    .erreurPage {
        padding-top: 60px;
        gap: 16px;
    }
}