.erreurPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h1 {
    color: #ff6060;
    font-size: 288px;
    font-weight: 700;
    line-height: 20%;
}

p {
    color: #ff6060;
    font-size: 32px;
}

.homeBack {
    color: #000;
    text-decoration: underline;
}