 header {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background-color: #fff;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1% 11%;
     z-index: 1000;
 }

 header nav {
     display: flex;
     justify-content: space-between;
     gap: 20px;
     color: black;
     font-size: 20px;
 }

 nav a {
     color: black;
     font-weight: 600;
 }

 nav a:hover {
     text-decoration: underline;
     color: black;
 }

 .nav-logo {
     height: 50px;
     width: auto;
 }

 @media (max-width: 768px) {
  header {
    padding: 3% 11%;
    justify-content: space-between;
  }

  .nav-logo {
    height: 40px;
  }

  header nav {
    gap: 5%;
    font-size: 16px;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
}