footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

footer p {
    font-size: 24px;
    color: white;
}

.nav-logo-footer {
  filter: brightness(0) invert(1);
}