
.logement-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
  margin: auto;
}

/*en-tête */
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  max-width: 70%;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  color: #ff6060;
}

.location {
  margin: 6px 0 20px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag {
  background: #ff6060;
  color: #fff;
  padding: 3px 22px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
}

/* note + utilisateur */
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.rating {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.rating .star {
  font-size: 25px;
  color: #e3e3e3;
}

.rating .star.filled {
  color: #ff6060;
}

/* dropdowns*/
.dropdowns .dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} 

.dropdowns .dropdown-text {
  min-height: 150px;
  height: 100%;
  box-sizing: border-box;
} 

.dropdowns {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.dropdown-item {
  flex: 1;

}

.dropdown-text ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .logement-page {
    width: 85%;
  }

  .dropdowns {
    flex-direction: column;
    gap: 32px;
  }

  .right {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 300px;
    width: 100%;
    margin-top: 20px;
  }

  .rating {
    margin-top: 0;
  }

   .rating .star {
    font-size: 18px;
  }

  .host {
    flex-direction: row;
    align-items: center;
  }

  .host-name {
    text-align: left;
  }
}


@media (max-width: 768px) {

  .dropdowns {
    flex-direction: column;
    gap: 20px;
  }

  .right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .rating {
    margin: 0;
  } 

   .rating .star {
    font-size: 15px;
  }

 .logement-page {
    width: 90%;
  }
}